<a href="https://colab.research.google.com/github/mngugi/Code_3_Camp/blob/main/Data_Visualiztion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# visualization session
#
from google.colab import files


uploaded = files.upload()

import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('listings.csv')
df.head()

Saving listings.csv to listings (3).csv

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,1489424,Home in Albany · ★4.74 · 1 bedroom · 1 bed · 1...,5294164,Efrat,NaN,FOURTEENTH WARD,42.66719,-73.81580,Private room,50.0,1,239,2023-12-08,1.90,1,201,47,NaN
1,2992450,Rental unit in Albany · ★3.56 · 2 bedrooms · 2...,4621559,Kenneth,NaN,THIRD WARD,42.65789,-73.75370,Entire home/apt,70.0,28,9,2022-08-17,0.08,1,365,0,NaN
2,3820211,Rental unit in Albany · ★4.74 · 1 bedroom · 1 ...,19648678,Terra,NaN,SIXTH WARD,42.65222,-73.76724,Entire home/apt,125.0,2,291,2023-11-19,2.54,10,361,8,NaN
3,5651579,Rental unit in Albany · ★4.51 · Studio · 1 bed...,29288920,Gregg,NaN,SECOND WARD,42.64615,-73.75966,Entire home/apt,68.0,2,332,2023-11-12,3.15,3,138,28,NaN
4,6623339,Rental unit in Albany · ★4.73 · 1 bedroom · 1 ...,19648678,Terra,NaN,SIXTH WARD,42.65222,-73.76724,Entire home/apt,140.0,1,305,2023-12-10,2.92,10,0,4,NaN

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              410 non-null    int64
 1   name                            410 non-null    object
 2   host_id                         410 non-null    int64
 3   host_name                       410 non-null    object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   410 non-null    object
 6   latitude                        410 non-null    float64
 7   longitude                       410 non-null    float64
 8   room_type                       410 non-null    object
 9   price                           404 non-null    float64
 10  minimum_nights                  410 non-null    int64
 11  number_of_reviews               410 non-null    int64
 12  last_review                     361 non-null    object
 13  reviews_per_month               361 non-null    float64
 14  calculated_host_listings_count  410 non-null    int64
 15  availability_365                410 non-null    int64
 16  number_of_reviews_ltm           410 non-null    int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(7), object(5)
memory usage: 57.8+ KB

In [20]:
df.shape

(410, 18)

In [21]:
df.index

RangeIndex(start=0, stop=410, step=1)

In [22]:
df.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of                       id                                               name  \
0                1489424  Home in Albany · ★4.74 · 1 bedroom · 1 bed · 1...
1                2992450  Rental unit in Albany · ★3.56 · 2 bedrooms · 2...
2                3820211  Rental unit in Albany · ★4.74 · 1 bedroom · 1 ...
3                5651579  Rental unit in Albany · ★4.51 · Studio · 1 bed...
4                6623339  Rental unit in Albany · ★4.73 · 1 bedroom · 1 ...
..                   ...                                                ...
405  1051544181986274174  Rental unit in Albany · ★New · 1 bedroom · 1 b...
406  1052381112116173923  Home in Albany · ★New · 2 bedrooms · 2 beds · ...
407  1055481757202000214  Rental unit in Albany · ★New · 1 bedroom · 1 b...
408  1056068682616336229     Home in Albany · ★New · 2 bedrooms · 1.5 baths
409  1056469473906808728  Home in Albany · ★New · 1 bedroom · 1.5 shared...

       host_id host_name  neighbourhood_group    neighbourhood   latitude  \
0      5294164     Efrat                  NaN  FOURTEENTH WARD  42.667190
1      4621559   Kenneth                  NaN       THIRD WARD  42.657890
2     19648678     Terra                  NaN       SIXTH WARD  42.652220
3     29288920     Gregg                  NaN      SECOND WARD  42.646150
4     19648678     Terra                  NaN       SIXTH WARD  42.652220
..         ...       ...                  ...              ...        ...
405   31994990      G.G.                  NaN     SEVENTH WARD  42.644782
406   52464523   Dashima                  NaN       FIRST WARD  42.640813
407   28987572     Bryce                  NaN       SIXTH WARD  42.650987
408   20536619     Emily                  NaN  THIRTEENTH WARD  42.671404
409  553112010     Linda                  NaN     TWELFTH WARD  42.714896

     longitude        room_type  price  minimum_nights  number_of_reviews  \
0   -73.815800     Private room   50.0               1                239
1   -73.753700  Entire home/apt   70.0              28                  9
2   -73.767240  Entire home/apt  125.0               2                291
3   -73.759660  Entire home/apt   68.0               2                332
4   -73.767240  Entire home/apt  140.0               1                305
..         ...              ...    ...             ...                ...
405 -73.776396  Entire home/apt   73.0              15                  0
406 -73.774628  Entire home/apt   70.0              30                  1
407 -73.763078  Entire home/apt  118.0               2                  0
408 -73.794312     Private room   85.0               5                  0
409 -73.876489     Private room    NaN               2                  0

    last_review  reviews_per_month  calculated_host_listings_count  \
0    2023-12-08               1.90                               1
1    2022-08-17               0.08                               1
2    2023-11-19               2.54                              10
3    2023-11-12               3.15                               3
4    2023-12-10               2.92                              10
..          ...                ...                             ...
405         NaN                NaN                               1
406  2024-01-02               1.00                               1
407         NaN                NaN                               1
408         NaN                NaN                               2
409         NaN                NaN                               1

     availability_365  number_of_reviews_ltm  license
0                 201                     47      NaN
1                 365                      0      NaN
2                 361                      8      NaN
3                 138                     28      NaN
4                   0                      4      NaN
..                ...                    ...      ...
405                92                      0      NaN
406                93                      1      NaN
407               270                      0      NaN
408               148                      0      NaN
409               268                      0      NaN

[410 rows x 18 columns]>

In [23]:
df.describe

<bound method NDFrame.describe of                       id                                               name  \
0                1489424  Home in Albany · ★4.74 · 1 bedroom · 1 bed · 1...
1                2992450  Rental unit in Albany · ★3.56 · 2 bedrooms · 2...
2                3820211  Rental unit in Albany · ★4.74 · 1 bedroom · 1 ...
3                5651579  Rental unit in Albany · ★4.51 · Studio · 1 bed...
4                6623339  Rental unit in Albany · ★4.73 · 1 bedroom · 1 ...
..                   ...                                                ...
405  1051544181986274174  Rental unit in Albany · ★New · 1 bedroom · 1 b...
406  1052381112116173923  Home in Albany · ★New · 2 bedrooms · 2 beds · ...
407  1055481757202000214  Rental unit in Albany · ★New · 1 bedroom · 1 b...
408  1056068682616336229     Home in Albany · ★New · 2 bedrooms · 1.5 baths
409  1056469473906808728  Home in Albany · ★New · 1 bedroom · 1.5 shared...

       host_id host_name  neighbourhood_group    neighbourhood   latitude  \
0      5294164     Efrat                  NaN  FOURTEENTH WARD  42.667190
1      4621559   Kenneth                  NaN       THIRD WARD  42.657890
2     19648678     Terra                  NaN       SIXTH WARD  42.652220
3     29288920     Gregg                  NaN      SECOND WARD  42.646150
4     19648678     Terra                  NaN       SIXTH WARD  42.652220
..         ...       ...                  ...              ...        ...
405   31994990      G.G.                  NaN     SEVENTH WARD  42.644782
406   52464523   Dashima                  NaN       FIRST WARD  42.640813
407   28987572     Bryce                  NaN       SIXTH WARD  42.650987
408   20536619     Emily                  NaN  THIRTEENTH WARD  42.671404
409  553112010     Linda                  NaN     TWELFTH WARD  42.714896

     longitude        room_type  price  minimum_nights  number_of_reviews  \
0   -73.815800     Private room   50.0               1                239
1   -73.753700  Entire home/apt   70.0              28                  9
2   -73.767240  Entire home/apt  125.0               2                291
3   -73.759660  Entire home/apt   68.0               2                332
4   -73.767240  Entire home/apt  140.0               1                305
..         ...              ...    ...             ...                ...
405 -73.776396  Entire home/apt   73.0              15                  0
406 -73.774628  Entire home/apt   70.0              30                  1
407 -73.763078  Entire home/apt  118.0               2                  0
408 -73.794312     Private room   85.0               5                  0
409 -73.876489     Private room    NaN               2                  0

    last_review  reviews_per_month  calculated_host_listings_count  \
0    2023-12-08               1.90                               1
1    2022-08-17               0.08                               1
2    2023-11-19               2.54                              10
3    2023-11-12               3.15                               3
4    2023-12-10               2.92                              10
..          ...                ...                             ...
405         NaN                NaN                               1
406  2024-01-02               1.00                               1
407         NaN                NaN                               1
408         NaN                NaN                               2
409         NaN                NaN                               1

     availability_365  number_of_reviews_ltm  license
0                 201                     47      NaN
1                 365                      0      NaN
2                 361                      8      NaN
3                 138                     28      NaN
4                   0                      4      NaN
..                ...                    ...      ...
405                92                      0      NaN
406                93                      1      NaN
407               270                      0      NaN
408               148                      0      NaN
409               268                      0      NaN

[410 rows x 18 columns]>

In [32]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
405    False
406    False
407    False
408    False
409    False
Length: 410, dtype: bool

In [33]:
import pandas as pd

# Assuming you have a DataFrame called 'df'

# Calculate Q1, Q3, and IQR
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

# Detect outliers
outliers = (df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))

# Filter rows with outliers
outliers_df = df[outliers.any(axis=1)]

# Print or use outliers_df as needed
print("Rows with outliers:")
print(outliers_df)

Rows with outliers:
                      id                                               name  \
0                1489424  Home in Albany · ★4.74 · 1 bedroom · 1 bed · 1...
1                2992450  Rental unit in Albany · ★3.56 · 2 bedrooms · 2...
2                3820211  Rental unit in Albany · ★4.74 · 1 bedroom · 1 ...
3                5651579  Rental unit in Albany · ★4.51 · Studio · 1 bed...
4                6623339  Rental unit in Albany · ★4.73 · 1 bedroom · 1 ...
..                   ...                                                ...
397  1034722814589239236  Rental unit in Albany · ★New · 2 bedrooms · 2 ...
398  1034818819017081948  Home in Albany · ★New · 3 bedrooms · 3 beds · ...
405  1051544181986274174  Rental unit in Albany · ★New · 1 bedroom · 1 b...
406  1052381112116173923  Home in Albany · ★New · 2 bedrooms · 2 beds · ...
409  1056469473906808728  Home in Albany · ★New · 1 bedroom · 1.5 shared...

       host_id host_name    neighbourhood   latitude  longitude  \
0      5294164     Efrat  FOURTEENTH WARD  42.667190 -73.815800
1      4621559   Kenneth       THIRD WARD  42.657890 -73.753700
2     19648678     Terra       SIXTH WARD  42.652220 -73.767240
3     29288920     Gregg      SECOND WARD  42.646150 -73.759660
4     19648678     Terra       SIXTH WARD  42.652220 -73.767240
..         ...       ...              ...        ...        ...
397  130404008   Michael       THIRD WARD  42.657105 -73.751329
398  392833833      Mary     TWELFTH WARD  42.675955 -73.792608
405   31994990      G.G.     SEVENTH WARD  42.644782 -73.776396
406   52464523   Dashima       FIRST WARD  42.640813 -73.774628
409  553112010     Linda     TWELFTH WARD  42.714896 -73.876489

           room_type  price  minimum_nights  number_of_reviews last_review  \
0       Private room   50.0               1                239  2023-12-08
1    Entire home/apt   70.0              28                  9  2022-08-17
2    Entire home/apt  125.0               2                291  2023-11-19
3    Entire home/apt   68.0               2                332  2023-11-12
4    Entire home/apt  140.0               1                305  2023-12-10
..               ...    ...             ...                ...         ...
397  Entire home/apt   90.0              30                  0         NaN
398  Entire home/apt  118.0               2                  1  2023-12-09
405  Entire home/apt   73.0              15                  0         NaN
406  Entire home/apt   70.0              30                  1  2024-01-02
409     Private room    NaN               2                  0         NaN

     reviews_per_month  calculated_host_listings_count  availability_365  \
0                 1.90                               1               201
1                 0.08                               1               365
2                 2.54                              10               361
3                 3.15                               3               138
4                 2.92                              10                 0
..                 ...                             ...               ...
397                NaN                               1                89
398               1.00                               2               253
405                NaN                               1                92
406               1.00                               1                93
409                NaN                               1               268

     number_of_reviews_ltm
0                       47
1                        0
2                        8
3                       28
4                        4
..                     ...
397                      0
398                      1
405                      0
406                      1
409                      0

[156 rows x 16 columns]

<ipython-input-33-cd44feedd5dc>:6: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q1 = df.quantile(0.25)
<ipython-input-33-cd44feedd5dc>:7: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q3 = df.quantile(0.75)
<ipython-input-33-cd44feedd5dc>:11: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers = (df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))

In [24]:
print(df.isnull().sum())

id                                  0
name                                0
host_id                             0
host_name                           0
neighbourhood_group               410
neighbourhood                       0
latitude                            0
longitude                           0
room_type                           0
price                               6
minimum_nights                      0
number_of_reviews                   0
last_review                        49
reviews_per_month                  49
calculated_host_listings_count      0
availability_365                    0
number_of_reviews_ltm               0
license                           410
dtype: int64

In [25]:
# missing values
print(df.select_dtypes(include='number').isnull().sum())

id                                  0
host_id                             0
neighbourhood_group               410
latitude                            0
longitude                           0
price                               6
minimum_nights                      0
number_of_reviews                   0
reviews_per_month                  49
calculated_host_listings_count      0
availability_365                    0
number_of_reviews_ltm               0
license                           410
dtype: int64

In [26]:
threshold = 0.5
drop_cols = df.columns[df.isnull().sum().mean() > threshold]
print(drop_cols)

[['id' 'name' 'host_id' 'host_name' 'neighbourhood_group' 'neighbourhood'
  'latitude' 'longitude' 'room_type' 'price' 'minimum_nights'
  'number_of_reviews' 'last_review' 'reviews_per_month'
  'calculated_host_listings_count' 'availability_365'
  'number_of_reviews_ltm' 'license']]

<ipython-input-26-ba83e838b85a>:2: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  drop_cols = df.columns[df.isnull().sum().mean() > threshold]

In [30]:
threshold = 0.5
drop_cols = df.columns[df.isnull().mean() > threshold]
df.drop(columns=drop_cols, inplace=True)

print("Dropped Columns:", drop_cols)
print("Original DataFrame with Columns Dropped:")
print(df)

Dropped Columns: Index(['neighbourhood_group', 'license'], dtype='object')
Original DataFrame with Columns Dropped:
                      id                                               name  \
0                1489424  Home in Albany · ★4.74 · 1 bedroom · 1 bed · 1...
1                2992450  Rental unit in Albany · ★3.56 · 2 bedrooms · 2...
2                3820211  Rental unit in Albany · ★4.74 · 1 bedroom · 1 ...
3                5651579  Rental unit in Albany · ★4.51 · Studio · 1 bed...
4                6623339  Rental unit in Albany · ★4.73 · 1 bedroom · 1 ...
..                   ...                                                ...
405  1051544181986274174  Rental unit in Albany · ★New · 1 bedroom · 1 b...
406  1052381112116173923  Home in Albany · ★New · 2 bedrooms · 2 beds · ...
407  1055481757202000214  Rental unit in Albany · ★New · 1 bedroom · 1 b...
408  1056068682616336229     Home in Albany · ★New · 2 bedrooms · 1.5 baths
409  1056469473906808728  Home in Albany · ★New · 1 bedroom · 1.5 shared...

       host_id host_name    neighbourhood   latitude  longitude  \
0      5294164     Efrat  FOURTEENTH WARD  42.667190 -73.815800
1      4621559   Kenneth       THIRD WARD  42.657890 -73.753700
2     19648678     Terra       SIXTH WARD  42.652220 -73.767240
3     29288920     Gregg      SECOND WARD  42.646150 -73.759660
4     19648678     Terra       SIXTH WARD  42.652220 -73.767240
..         ...       ...              ...        ...        ...
405   31994990      G.G.     SEVENTH WARD  42.644782 -73.776396
406   52464523   Dashima       FIRST WARD  42.640813 -73.774628
407   28987572     Bryce       SIXTH WARD  42.650987 -73.763078
408   20536619     Emily  THIRTEENTH WARD  42.671404 -73.794312
409  553112010     Linda     TWELFTH WARD  42.714896 -73.876489

           room_type  price  minimum_nights  number_of_reviews last_review  \
0       Private room   50.0               1                239  2023-12-08
1    Entire home/apt   70.0              28                  9  2022-08-17
2    Entire home/apt  125.0               2                291  2023-11-19
3    Entire home/apt   68.0               2                332  2023-11-12
4    Entire home/apt  140.0               1                305  2023-12-10
..               ...    ...             ...                ...         ...
405  Entire home/apt   73.0              15                  0         NaN
406  Entire home/apt   70.0              30                  1  2024-01-02
407  Entire home/apt  118.0               2                  0         NaN
408     Private room   85.0               5                  0         NaN
409     Private room    NaN               2                  0         NaN

     reviews_per_month  calculated_host_listings_count  availability_365  \
0                 1.90                               1               201
1                 0.08                               1               365
2                 2.54                              10               361
3                 3.15                               3               138
4                 2.92                              10                 0
..                 ...                             ...               ...
405                NaN                               1                92
406               1.00                               1                93
407                NaN                               1               270
408                NaN                               2               148
409                NaN                               1               268

     number_of_reviews_ltm
0                       47
1                        0
2                        8
3                       28
4                        4
..                     ...
405                      0
406                      1
407                      0
408                      0
409                      0

[410 rows x 16 columns]

In [31]:
print(df.isnull().sum())

id                                 0
name                               0
host_id                            0
host_name                          0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              6
minimum_nights                     0
number_of_reviews                  0
last_review                       49
reviews_per_month                 49
calculated_host_listings_count     0
availability_365                   0
number_of_reviews_ltm              0
dtype: int64

In [ ]:
cols = df.select_dtypes(include='number').columns
for col in cols:
  df[col].fillna(df[col].mean(), inplace=True)

col